.sidebar{
    width: 20dvw;
    height: 100dvh;
}

.designs{
    width: 70dvw;
    height: 100dvh;
}

/* .cards{
    background-color: #f3eaea;
    width: 400px;
    height: 400px;
    border-radius: 10px;
} */